
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> node_modules and frontend build ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
###< node_modules and frontend build ###

###> IDEs ###
/.idea/
/.vscode/
*.swp
*.swo
*~
###< IDEs ###

###> OS files ###
.DS_Store
Thumbs.db
###< OS files ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
