<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %} - Net Idea Web Demo</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% include '@NetIdeaWebBase/_partials/navbar.html.twig' %}
    
    {% block body %}{% endblock %}
    
    {% include '@NetIdeaWebBase/_partials/footer.html.twig' %}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
